In [10]:
# Environment Setup
# ----------------------------------------------------------------
# Dependencies
import csv
import pandas as pd
import random
import numpy as np
# Output File Name
file_output_players = "generated_data/players_complete.csv"
file_output_items = "generated_data/items_complete.csv"
file_output_purchases_json = "generated_data/purchase_data_3.json"
file_output_purchases_csv = "generated_data/purchase_data_3.csv"
# Convert the Players List to a Data Frame
players = pd.read_csv("raw_data/players.csv", dtype="str", header=0)
total_players = len(players)
items = pd.read_table("raw_data/items.txt", delimiter="\t", dtype="str")
total_items = len(items)
# Generator Conditions (Change as Needed)

# ----------------------------------------------------------------
# Population Counts
total_purchase_count = 78
player_count = len(players) - 27
item_count = len(items) - 6
# Player Weight
genders = ["Male", "Female", "Other / Non-Disclosed"]
gender_weights = [0.82, 0.16, 0.02]
age_ranges = [7, 15, 20, 25, 30, 35, 40, 45]
age_weights = [0.01, 0.09, 0.20, 0.46, 0.10, 0.08, 0.05, 0.01]
# Item Prices
low_price = 1
high_price = 5
# Generate Players
# ----------------------------------------------------------------
# Generate all gender probabilities
gender_probabilities = zip(genders, gender_weights)
gender_profiles = []
# Generate a sufficient number of genders
for gender in gender_probabilities:
    gender_profiles = gender_profiles + \
        [gender[0]] * int(gender[1] * total_players)
# Generate random ages
age_probabilities = zip(age_ranges, age_weights)
age_counts = []
age_profiles = []
for age in age_probabilities:
    age_counts = age_counts + [int(age[1] * total_players)]
age_probabilities = zip(age_counts, age_ranges)
# Generate right number of random numbers
prev_age = age_ranges[0]
for age in age_probabilities:
    for x in range(age[0]):
        age_profiles = age_profiles + [random.randint(prev_age, age[1])]
    prev_age = age[1]
random.shuffle(gender_profiles)
random.shuffle(age_profiles)
# Convert lists into pandas data frames
gender_profiles_pd = pd.Series(gender_profiles)
age_profiles_pd = pd.Series(age_profiles)
# Combine the data frames to match the number of players
players = players[0:player_count]
gender_profiles_pd = gender_profiles_pd[0:player_count]
age_profiles_pd = age_profiles_pd[0:player_count]
# Combine all datasets
players["Age"] = age_profiles_pd.values
players["Gender"] = gender_profiles_pd.values
# Export as JSON
# players.to_json(file_output_players, orient="records")
players.to_csv(file_output_players, index_label="Player ID")
# Generate the Item Data
# ----------------------------------------------------------------
items["Price"] = np.random.uniform(low_price, high_price, items.shape[0])
items = items.round({"Price": 2})
# Export the Items to a CSV
items.to_csv(file_output_items, index_label="Item ID")
# Generate the Purchases
# ----------------------------------------------------------------
# Setup the purchases data frame
index = ["Purchase ID"]
columns = ["SN", "Item ID", "Item Name", "Item Price"]
purchases = pd.DataFrame(index=index, columns=columns)
purchased_items = []
for x in range(total_purchase_count):
    print("Now Rendering: %s of %s records..." % (x, total_purchase_count))
    rand_player = np.random.randint(0, player_count)
    rand_item = np.random.randint(0, item_count)
    selected_user = players.iloc[rand_player]["SN"]
    selected_user_age = players.iloc[rand_player]["Age"]
    selected_user_gender = players.iloc[rand_player]["Gender"]
    selected_item_id = rand_item
    selected_item_name = items.iloc[rand_item]["Item Name"]
    selected_item_price = items.iloc[rand_item]["Price"]
    purchased_items = purchased_items + list(zip([selected_user],
                                                 [selected_user_age],
                                                 [selected_user_gender],
                                                 [selected_item_id],
                                                 [selected_item_name],
                                                 [selected_item_price]))
purchased_items_pd = pd.DataFrame(purchased_items, columns=["SN",
                                                            "Age",
                                                            "Gender",
                                                            "Item ID",
                                                            "Item Name",
                                                            "Price"])
# Export the Purchase List as CSVs and JSONs
purchased_items_pd.to_csv(file_output_purchases_csv, index_label="Purchase ID")
purchased_items_pd.to_json(file_output_purchases_json, orient="records")

players

Now Rendering: 0 of 78 records...
Now Rendering: 1 of 78 records...
Now Rendering: 2 of 78 records...
Now Rendering: 3 of 78 records...
Now Rendering: 4 of 78 records...
Now Rendering: 5 of 78 records...
Now Rendering: 6 of 78 records...
Now Rendering: 7 of 78 records...
Now Rendering: 8 of 78 records...
Now Rendering: 9 of 78 records...
Now Rendering: 10 of 78 records...
Now Rendering: 11 of 78 records...
Now Rendering: 12 of 78 records...
Now Rendering: 13 of 78 records...
Now Rendering: 14 of 78 records...
Now Rendering: 15 of 78 records...
Now Rendering: 16 of 78 records...
Now Rendering: 17 of 78 records...
Now Rendering: 18 of 78 records...
Now Rendering: 19 of 78 records...
Now Rendering: 20 of 78 records...
Now Rendering: 21 of 78 records...
Now Rendering: 22 of 78 records...
Now Rendering: 23 of 78 records...
Now Rendering: 24 of 78 records...
Now Rendering: 25 of 78 records...
Now Rendering: 26 of 78 records...
Now Rendering: 27 of 78 records...
Now Rendering: 28 of 78 records...
Now Rendering: 29 of 78 records...
Now Rendering: 30 of 78 records...
Now Rendering: 31 of 78 records...
Now Rendering: 32 of 78 records...
Now Rendering: 33 of 78 records...
Now Rendering: 34 of 78 records...
Now Rendering: 35 of 78 records...
Now Rendering: 36 of 78 records...
Now Rendering: 37 of 78 records...
Now Rendering: 38 of 78 records...
Now Rendering: 39 of 78 records...
Now Rendering: 40 of 78 records...
Now Rendering: 41 of 78 records...
Now Rendering: 42 of 78 records...
Now Rendering: 43 of 78 records...
Now Rendering: 44 of 78 records...
Now Rendering: 45 of 78 records...
Now Rendering: 46 of 78 records...
Now Rendering: 47 of 78 records...
Now Rendering: 48 of 78 records...
Now Rendering: 49 of 78 records...
Now Rendering: 50 of 78 records...
Now Rendering: 51 of 78 records...
Now Rendering: 52 of 78 records...
Now Rendering: 53 of 78 records...
Now Rendering: 54 of 78 records...
Now Rendering: 55 of 78 records...
Now Rendering: 56 of 78 records...
Now Rendering: 57 of 78 records...
Now Rendering: 58 of 78 records...
Now Rendering: 59 of 78 records...
Now Rendering: 60 of 78 records...
Now Rendering: 61 of 78 records...
Now Rendering: 62 of 78 records...
Now Rendering: 63 of 78 records...
Now Rendering: 64 of 78 records...
Now Rendering: 65 of 78 records...
Now Rendering: 66 of 78 records...
Now Rendering: 67 of 78 records...
Now Rendering: 68 of 78 records...
Now Rendering: 69 of 78 records...
Now Rendering: 70 of 78 records...
Now Rendering: 71 of 78 records...
Now Rendering: 72 of 78 records...
Now Rendering: 73 of 78 records...
Now Rendering: 74 of 78 records...
Now Rendering: 75 of 78 records...
Now Rendering: 76 of 78 records...
Now Rendering: 77 of 78 records...

                 SN  Age  Gender
0         Marughi89   18    Male
1         Lirtedy26   21    Male
2      Chamistast30   20    Male
3         Lisirra25   22    Male
4          Lirtim36   23    Male
5        Undimsya85   31    Male
6        Lirtassa77   20    Male
7        Mindirra92   29    Male
8      Undirrasta89   25    Male
9       Iskjaskst81   20    Male
10    Yoishirrala98   20    Male
11        Undassa89   30    Male
12     Lisossanya98   30    Male
13        Lisirra87   19    Male
14        Ililsan66   15    Male
15      Lisosiast26   14  Female
16         Ilimya66   33  Female
17        Lisassa49   30    Male
18     Mindirraya69   20    Male
19       Lirtista72   20    Male
20     Sondassala75   21    Male
21      Iskelosda54   15    Male
22       Sundista85   21    Male
23       Lirtossa84   16    Male
24    Chanjasksda31   19    Male
25       Chamiman85   20    Male
26        Lisosia66   23    Male
27        Lisirra44   10  Female
28     Mindassast27   33  Female
29       Quilassa66   16  Female
...             ...  ...     ...
1133    Qilanrion65   23    Male
1134       Ethron58   35    Male
1135       Yarmol79   27  Female
1136      Farrian71   22    Male
1137       Ilrian97   19    Male
1138     Ingatcil75   16    Male
1139      Malunil62   34    Male
1140    Indanuard75   37    Male
1141        Ermol76   22    Male
1142      Farenon57   20    Male
1143        Malil90   15    Male
1144        Firan91   23  Female
1145        Filon68   22    Male
1146        Iliel92   12    Male
1147     Umolrian85   24  Female
1148     Yarirarn35    8    Male
1149      Inguron55   25    Male
1150      Ilenmol62   20  Female
1151     Quarrion42   12    Male
1152      Qilunan34   11    Male
1153      Ilunyon70   22    Male
1154        Firon67   33    Male
1155      Arduard95   21    Male
1156      Firatan58   40  Female
1157       Errian63   21    Male
1158      Eratiel90   17    Male
1159      Qarrian82   28    Male
1160       Eyrian71   22    Male
1161    Qilalista41   37    Male
1162     Erudrion71   15  Female

[1163 rows x 3 columns]

In [6]:
total_players = len(players)

print(total_players)

1163

In [16]:
unique_items = items["Item Name"].unique()
count_unique = len(unique_items)
average_price = items["Price"].mean()
total_items = len(items)
total_revenue = items["Price"].sum()
#final_average = round(average_price, 2)

print(count_unique)
print(float(round(average_price, 2)))
print(total_items)
print(total_revenue)

186
3.04
190
578.2

In [24]:
percent_male = (100 * players["Gender"].eq('Male').mean())
count_male = 

print("%",round(percent_male, 2))

NameError: name 'count' is not defined